<ion-grid>
  <ion-row
    *ngFor="let row of leds">
  >
    <ion-col
      *ngFor="let col of row"
    >
      a
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col>
      <div class="led_off"></div>      
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col>
        <div class="led"></div>
      </ion-col>
      <ion-col>
        <div class="led"></div>
      </ion-col>
      <ion-col>
        <div class="led"></div>
      </ion-col>
      <ion-col>
        <div class="led"></div>
      </ion-col>
      <ion-col>
        <div class="led"></div>
      </ion-col>
      <ion-col>
        <div class="led"></div>
      </ion-col>
      <ion-col>
        <div class="led"></div>
      </ion-col>
      <ion-col>
        <div class="led"></div>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
    <ion-col>
      <div class="led"></div>
    </ion-col>
  </ion-row> -->
</ion-grid>