.led-line {
  display: flex;
  justify-content: center;
}

.led {
  border: solid 1px #333;
  background-color: red;

  &_off {
    @extend .led;
    background-color: gray;
  }

}

.name {
  text-align: center;
}

.small-led {
  width: 1rem;
  height: 1rem;
}
.big-led {
  width: 2rem;
  height: 2rem;
}
