<ion-header>
  <ion-toolbar>
    <ion-title>Arduino control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- list of connected devices-->
  <ion-grid
    *ngIf="btIsConnected"
  >  
    <ion-row>
      <ion-col>
        <ion-list>

          <ion-list-header>
            Connected devices
          </ion-list-header>

          <ion-item
            *ngFor="let device of connected"
          >
            <ion-label>
              {{ device.name }}
            </ion-label>
            <ion-button
              slot="end"
              (click)="disconnectDevice()"
            >
              Disconnect
            </ion-button>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col 
        class="ion-text-end ion-padding"        
      >
        <ion-button
          [routerLink]="['/panel']"
        >
          Show panels
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- button for connect devices -->
  <ion-grid
    *ngIf="!btIsConnected"
  >
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="toListDevices()">
          List bluetooth devices
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end ion-padding">
        <ion-button [routerLink]="['/panel']">
          Show panels
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
