<ion-header>
  <ion-toolbar>
    <ion-title>Panels</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col 
        *ngFor="let button of panelButtons"
        size="6" 
        size-md="6" 
        size-lg="3"
      >
        <ion-button
          (click)="showPanel(button.code)"
        >
          {{ button.name }}
        </ion-button>
        <app-grid-panel>
        </app-grid-panel>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
